body {
  background: #E6E8E6;
  color: #343434;
  font: 0.8333rem "Times New Roman", serif;
  margin: 10%;
  padding: auto 0;
   }
h1 {
  border-bottom: 3px solid black;
  font: italic small-caps bold 1.8333rem/1.0 "Times New Roman", serif;
  margin-bottom: 0;
  padding-bottom: 2px;
  text-align: center;
}
h2 {
  align-items: center;
  font-size: 0.8333rem;
  margin-top: 3px;
  text-align: center;
}
h3 {
  font-size: 1rem;
  text-decoration: underline;
}
h4 {
  font-size: 0.8333rem;
  margin-bottom: 0;
}
span {
  float: right;
}
p {
  font-style: italic;
  margin: 0 auto;
}
a:link {
  color: #5995ED
}
a:visited {
  color: #E07BE0
}
ul {
  color: #3E4044
  list-style-type: disc;
  padding-left: 2%;
  margin: 0 auto;
   }
li {
  width: 75%
}
