body {
  background: #E6E8E6;
  color: #343434;
  font-family: "Times New Roman", serif;
  font-size: 0.8333rem;
  margin: 6rem 6rem;
  padding: auto 0;
   }
h1 {
  font-size: 1.8333rem;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}
h2 {
  align-items: center;
  font-size: 0.8333rem;
  text-align: center;
}
h3 {
  font-size: 1rem;
  text-decoration: underline;
}
h4 {
  font-size: 0.8333rem;
  margin-bottom: 0;
}
p {
  margin-top: 0;
}
a:link {
  color: #5995ED
}
a:visited {
  color: #E07BE0
}
ul {
  color: #3E4044
  list-style-type: disc;
   }
