body { 
   color: darkcyan; 
   background: ivory; 
   }
em { 
   /* font-style: normal; */ 
   color: red; 
   }
ol { 
   list-style-type: upper-roman; 
   }
ol ol { 
   list-style-type: upper-alpha; 
   }
ol ol ol { 
   list-style-type: decimal; 
   }